## The following requirements were added by pip freeze:
asgiref==3.8.1
Django==5.1
image==1.5.33
llvmlite==0.43.0
numba==0.60.0
numpy==1.26.4
opencv-python==4.10.0.84
pillow==10.4.0
scipy==1.11.4
six==1.16.0
sqlparse==0.5.1
